<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
        .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;}
    </style>
</head>
<body>
    <div style="margin: 15% 40%;">
        <h1>Welcome to login</h1>
       <form action="/login/" method="post">
           {% if message %}
               <div class="alert alert-warning">{{ message }}</div>
           {% endif %}
           {% csrf_token %}
            <p>
                <label for="id_username">username：</label>
                <input type="text" id="id_username" name="username" placeholder="username" autofocus required />
            </p>

            <p>
                <label for="id_password">password：</label>
                <input type="password" id="id_password" placeholder="password" name="password" required >
            </p>
            <input class="button" type="submit" value="login">
        </form>
        <form action="/register/" method="post">
              {% if message %}
               <div class="alert alert-warning">{{ message }}</div>
           {% endif %}
           {% csrf_token %}
            <input class="button" type="submit" value="Register">
        </form>
    </div>
</body>
</html>