<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>our database project</title>
</head>
<body>
<h1>{{ request.session.user_name }},  Welcome back！</h1>
<h2>Issue List</h2>
<p>
<ul>
    {%for iid, dname, title, idscpt, wname, ctime in issue_list%}
    <li><pre><a href="/issuedetail/?iid={{iid}}">{{iid}}</a>    {{dname}}    {{title}}    {{idscpt}}    {{wname}}    {{ctime}}</pre></li>
    {%endfor%}
    </ul>
</p>

<form action="/projectdetail/" method="post">
    {% if message %}

            <div class="alert alert-warning">{{ message }}</div>
    {% endif %}
    {% csrf_token %}
     <p>
         <label for="new_issue_title">title：</label>
         <input type="text" id="new_issue_title" name="title" placeholder="new_title"  required />
         <label for="new_issue_describe">describe：</label>
         <input type="text" id="new_issue_describe" name="describe" placeholder="new_describe"  required />
         <button type="submit" name="button1">Report This New Issue</button>
    </p>

</form>

<p>
    <a href="/logout/">logout</a>
    <a href="/index/">back</a>
</p>
</body>
</html>